.app-container
{display: flex;
}
.content-container
{
  width:100%;
}
.sidebar
{
  min-height: 700px;
}
.post-card
{
  margin: 10px 30px;
  
}
.hastag
{
  margin: 0px 3px;
}
.create-post
{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.well-come
{
  margin: 100px 0px;
}